body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Zapobiega pojawianiu się pasków przewijania */
}

#map-container {
    position: relative;
    width: 100vw; /* 100% szerokości okna przeglądarki */
    height: 100vh; /* 100% wysokości okna przeglądarki */
    overflow: hidden; /* Zapobiega pojawianiu się pasków przewijania w #map-container */
}

#map {
    width: 100%; /* 100% szerokości #map-container */
    height: 100%; /* 100% wysokości #map-container */
}
